:root {
    --og-color-green: hsl(145, 27%, 18%);
    --og-color-lgreen: hsl(82, 53%, 38%);
    --og-color-red: hsl(11, 53%, 38%);

    --og-color-white: hsl(60, 100%, 90%);
    --og-color-black: hsl(339, 90%, 6%);

    --smaller-spacing: 0.5rem;
    --small-spacing: 0.75rem;
    --normal-spacing: 1rem;
    --large-spacing: 1.5rem;
    --larger-spacing: 2rem;

    --normal-radius: 0.75rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100svh;
    color: var(--accent-1);
    background: linear-gradient(to right,
            var(--og-color-green) 0%,
            var(--og-color-black) 10%,
            var(--og-color-black) 90%,
            var(--og-color-green) 100%);
    backdrop-filter: brightness(.5) blur(1rem);

    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

._glass {
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px 5px rgb(255 255 255 / 0.2);
}
@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * 20px));
    }
}