:root {
    --og-color-green: hsl(145, 27%, 18%);
    --og-color-lgreen: hsl(82, 53%, 38%);
    --og-color-red: hsl(11, 53%, 38%);

    --og-color-white: hsl(60, 100%, 90%);
    --og-color-black: hsl(339, 90%, 6%);

    --normal-spacing: 1rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    display: grid;
    gap: var(--normal-spacing);
    grid-template: 10vh calc(80vh - calc(var(--normal-spacing) * 2)) 10vh / 100%;
    place-content: center;

    background: linear-gradient(
        to right,
        var(--og-color-green) 0%, 
        var(--og-color-black) 10%, 
        var(--og-color-black) 90%, 
        var(--og-color-green) 100%
    );
    color: var(--accent-1);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}